{% extends 'base.html' %}
{% load static %}

{% block title %}Change Password | BudgetBuddy{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}

<div class="card auth-card shadow">

    <div class="card-body">

        <h2 class="auth-title">
            Change Password
        </h2>

        <form>

            <div class="mb-3">

                <label>Current Password</label>

                <input type="password"
                       class="form-control">

            </div>

            <div class="mb-3">

                <label>New Password</label>

                <input type="password"
                       class="form-control">

            </div>

            <div class="mb-4">

                <label>Confirm New Password</label>

                <input type="password"
                       class="form-control">

            </div>

            <button class="btn btn-primary w-100">

                Update Password

            </button>

        </form>

    </div>

</div>

{% endblock %}